/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  
  /* Sidebar Styles */
  #sidebar {
    background-color: #f2f2f2;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
  }
  
  #sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #sidebar ul li {
    margin-bottom: 10px;
  }
  
  #sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  
  /* Content Styles */
  #container {
    margin-left: 240px; /* Adjust the margin to match the width of the sidebar */
    padding: 20px;
    background-color: #fff;
  }
  
  .header {
    text-align: center;
    padding: 20px;
  }
  
  .header h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .header h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #container h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  #container h3 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  hr {
    width: 95%;
    margin: 0 auto;
  }
  
  #container p,
  #container ul {
    margin-bottom: 20px;
  }
  
  #content {
    padding: 20px;
    margin: auto 38.35px;
    box-sizing: border-box;
  }

  code {
    font-size: 14px; /* Adjust the font size to your preference */
    background-color: rgb(235, 232, 232);
    color: #fd4362; /* Adjust the color to your preference */
  }

  .question {
    margin-bottom: 20px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .question p {
    font-weight: bold;
    font-size: 17px;
    margin: 5px 0 10px;
  }

  .question textarea {
    height: 100px;
    width: 98.5%;
    resize: vertical;
    margin: 5px 0 10px;
  }
  
  .question form {
    margin-bottom: 10px;
  }
  
  .question input[type="button"] {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #7c7e7c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .question input[type="button"]:hover {
    background-color: #6c6d6c;
  }
  
  .question input[type="button"]:focus {
    outline: none;
  }
  
  /* Responsive Styles */
  @media (max-width: 600px) {
    #content {
      margin-left: 0;
    }
  }
  