/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  
  /* Sidebar Styles */
  #sidebar {
    background-color: #f2f2f2;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
  }
  
  #sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #sidebar ul li {
    margin-bottom: 10px;
  }
  
  #sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  
  /* Content Styles */
  #container {
    margin-left: 240px; /* Adjust the margin to match the width of the sidebar */
    padding: 20px;
    background-color: #fff;
  }
  
  .header {
    text-align: center;
    padding: 20px;
  }
  
  .header h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .header h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #container h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  #container h3 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  hr {
    width: 95%;
    margin: 0 auto;
  }
  
  #container p,
  #container ul {
    margin-bottom: 20px;
  }
  
  #content {
    padding: 20px;
    margin: auto 38.35px;
    box-sizing: border-box;
  }
  
  /* Responsive Styles */
  @media (max-width: 600px) {
    #content {
      margin-left: 0;
    }
  }
  